# This is "close" to correct but has a number of bugs that prevent
# using it on the source tree.
Language: Cpp  # cdli
BasedOnStyle: Google  # cdli
AccessModifierOffset: -2  # cdli
AlignOperands: false
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevel
BinPackArguments: false
# fails
BinPackParameters: false
BraceWrapping:   
  AfterClass: true
  AfterStruct: true
  AfterFunction: true  # cdli
  BeforeElse: true
BreakBeforeBraces: Custom  # cdli
# fails if all initializers fit on one line
BreakConstructorInitializers: AfterColon
ColumnLimit: 0  # cdli
# fails
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 2
IncludeBlocks: Preserve
PointerAlignment: Right
